.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

.hero-text{
    padding: 0 2rem;
}

.hero-text h2{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 49px;
    color: #052350;
    text-decoration: none;
    margin: 1.1rem;
    text-align: left;
}

.hero-para{
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 18px;
    padding: 1rem;
    color: #052350;
    text-decoration: none;
    text-align: justify;
    line-height: 2rem
}

.hero-text .cta{
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    border: 1.3px solid #ee6e6c ;
    cursor: pointer;
    color: #ee6e6c;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    outline: none;
    margin-left: 1rem;
}

.hero-text .cta:hover{
    color: #ee6e6c !important;
    border: 1.3px solid transparent ;
    box-shadow: 0 2px 8px rgba(47, 72, 88, .30), 0 3px 3px rgba(47, 72, 88, .22);
}

.hero-img img {
    width: 680px;
}

/*Media Queries*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
  }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width: 321px) {
    /* Styles */
  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width: 320px) {
    /* Styles */
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */

    .hero{
        padding: 57px 27px;
    }

    .hero-text h2{
        font-size: 34.5px;
        margin-bottom: .8rem;
    }

    .hero-para{
        font-size: 17.5px;
    }

    .hero-img img {
        width: 490px;
    }
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */

    .hero{
        padding: 0px 19px;
    }

    .hero-text h2{
        font-size: 28.7px;
        line-height: 3rem;
        margin: 1rem 0 .5rem 0rem;
    }

    .hero-para{
        font-size: 15.7px;
        padding: 1.3rem 0 1rem 0;
    }

    .hero-text .cta{
        margin-left: 0;
        padding: 13px 35px;
        font-size: 15px;
    }

    .hero-img img {
        width: 350px;
    }
  }
  
  /* iPhone 4 (landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 4 (portrait) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 5 (landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 5 (portrait) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 6 (landscape) ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 6 (portrait) ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 6+ (landscape) ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* iPhone 6+ (portrait) ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* Samsung Galaxy S3 (landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* Samsung Galaxy S3 (portrait) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
  }
  
  /* Samsung Galaxy S4 (landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
  }
  
  /* Samsung Galaxy S4 (portrait) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
  }
  
  /* Samsung Galaxy S5 (landscape) ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
  }
  
  /* Samsung Galaxy S5 (portrait) ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
  }
