.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

.hero-text{
    padding: 0 2rem;
}

.hero-text h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 55px;
    color: #fae69e;
    text-decoration: none;
    margin: 1.1rem;
    text-align: left;
}

.hero-para{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    padding: 1rem 1.2rem;
    color: #2F4858;
    text-decoration: none;
    text-align: justify;
    line-height: 2rem
}

.hero-text .cta{
    padding: 15px 45px;
    background: #75AE8D;
    border: 1.3px solid #f4f4f4 ;
    cursor: pointer;
    color: #f4f4f4;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    outline: none;
    margin-right: 26.5rem;
}

.cta:hover{
    box-shadow: 1px 1px 8px 1px #fae69e;
    background: #f4f4f4;
    color: #75AE8D;
}

.hero-img img {
    width: 680px;
}
