.order-container{
    background: lightyellow;
}

.orderCard {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 1rem auto;
    padding: 2rem 0;
}

#orderCard-container{
    padding: 0 .5em;
}

#order-details{
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

#order-details h4{
    color: #4A8D86;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 700;
}

#btn-container{
    margin-top: -.5rem;
}

.ui.button{
    background: #356A74;
    color: white;
    font-size: 12px;
}

.ui.button:hover{
    background: #2F4858;
    color: white;
}

.ui.header {
    text-align: center;
    padding: 4rem 2rem 2rem; 
    color: #2F4858;
    font-family: 'Roboto';
}

.orderDate-container, #order-amtPaid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    padding: 0 1rem;
}

.orderDate-container h3{
    font-size: 14px;
    color: #2F4858;
    font-family: "Roboto";
    font-weight: 500
}

#orderDate{
    margin-top: 2rem;
}

#delivStatus{
    margin-top: 1rem;
}

.order-img-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.order-img-container img{
    border-radius: 3px;
    margin-left: 1rem;
}

#orderProduct-details{
    margin-left: -12em;
    text-align: left;
}

#orderProduct-details h4, #order-seller h4{
    color: #2F4858;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    margin-bottom: .5em;
}