.productDetail{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productDetail-text{
    margin: auto;
    margin-top: 0.5rem;
    flex-basis: 50%;
    padding: 3rem 1rem;
}

.productDetail
.ui.image{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    padding: 0.6rem;
    margin: auto;
    height: 550px;
    width: 85%;
    object-fit: cover;
}

.productDetail-container{
    margin: auto;
    margin-top: 0;
    width: 50%;
    padding: 4rem 4rem 4rem 2rem;
    text-align: left;
}

.productName{
    margin: 1rem 0;
    padding: 0 0.5rem;
    font: 400 26px 'Roboto';
    color: #2F4858;
}

.addToCart .ui.button{
    padding: .8rem;
    font: 500 13px 'Roboto';
    letter-spacing: 1px;
}

.selectProducer{
    margin-top: 2rem;
}

.selectProducer h4{
    padding: 0 0 0 0.5rem;
    color: #2F4858;
}

.productQuantity .ui.input, .selectProducer .ui.dropdown{
    width: 70%;
    outline: none;
    font-size: 14px;
    margin: 0 0 0 5rem

}

.misc-header{
    margin: 0;
    padding: 0 0.5rem;
    padding-top: 2.8rem;
    font: 500 17px 'Roboto';
    color: #2F4858;
}

.productMisc{
    display: flex;
    padding: 2rem 0.5rem 1rem 0.5rem;
    margin-bottom: 2rem;
}

.productMisc-label p{
    width: 250px;
    font: 500 14px 'Roboto';
    color: #2F4858;
}

.productMisc-text p{
    font: 400 14px 'Roboto';
    color: #356A74;
    letter-spacing: 0.8px;
}
