.productDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f6fdfa;
    height: fit-content;
}


.productDetail-text{
    margin: 0 auto;
    margin-top: 2rem;
    flex-basis: 50%;
    padding: 3rem 0rem;
    /* border: 1px solid chartreuse; */
}

.productDetail
.ui.image{
    box-shadow: 0 2px 8px rgba(5, 35, 80, .12), 0 3px 3px rgba(5, 35, 80, .16);
    /* padding: 0.6rem; */
    margin: auto;
    height: 500px;
    width: 80%;
    object-fit: cover;
}

.productDetail-container{
    margin: 5rem auto;
    width: 48%;
    padding: 0rem 4rem 4rem 0rem;
    text-align: left;
    /* border: 1px solid cadetblue; */
}

.productName{
    /* margin: 1rem 0; */
    padding: 0 0.5rem;
    font: 600 39px 'Roboto';
    color: #052350;
}

.addToCart .ui.button{
    padding: .8rem;
    font: 500 15px 'Roboto';
    letter-spacing: 1px;
    border-radius: 0px;
    background-color: transparent;
    border: 1.3px solid #ee6e6c;
    color: #ee6e6c;
    box-shadow: none;
}

.addToCart .ui.button:hover{
    background-color: #ee6e6c !important;
    border: 1.3px solid #052350;
    color: white !important;
    box-shadow: none !important;
}

.selectProducer{
    margin-top: 2rem;
}

.selectProducer h4{
    padding: 0 0 0 0.5rem;
    color: #052350;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 16px;
}

.productQuantity .ui.input, .selectProducer .ui.dropdown{
    width: 70%;
    outline: none;
    font-size: 14px;
    margin: 0 0 0 5rem

}

.misc-header{
    margin: 0;
    padding: 0 0.5rem;
    padding-top: 2.8rem;
    font: 600 17px 'Roboto';
    color: #052350;
}

.productMisc{
    display: flex;
    padding: 2rem 0.5rem 1rem 0.5rem;
    margin-bottom: 2rem;
}

.productMisc-label p{
    width: 250px;
    font: 500 14px 'Roboto';
    color: #052350;
}

.productMisc-text p{
    font: 600 14px 'Nunito';
    color: #052350;
    letter-spacing: 0.8px;
}

.transactionsDetails{
    text-align: center;
    display: flex;
    justify-content: center;
}

.details-left h4
{
    text-align: right;
    font-family: 'Roboto' !important;
    color: #052350;
}

.details-right h4{
    text-align: left;
    padding-left: 3rem;
    font-family: 'Nunito' !important;
    color: #052350;
}

.approve{
    text-align: center;
    margin-top: 2.5rem
}

/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .productDetail{
        display: block;
        height: fit-content;
    }

    .productDetail-text{
        margin-top: 2rem;
        flex-basis: 100%;
        padding: 2rem 1rem;
        /* border: 1px solid black; */
    }
    
    .productDetail
    .ui.image{
        margin-left: 1rem;
        height: 400px;
        width: 100%;
    }
    
    .productDetail-container{
        margin: 4rem 0;
        margin-right: 0rem;
        padding: 0 .7rem;
        /* border: 1px solid black; */
        width: 100%;
        text-align: center;

    }
    
    .productName{
        font: 600 40px 'Roboto';
        text-align: center;
        letter-spacing: 3px;
    }
    
    .addToCart .ui.button{
        font: 600 16px 'Roboto';
    }
    
    .misc-header{
        padding: 0 0rem;
        padding-top: 2.8rem;
        text-align: center;
    }
    
    .productMisc{
        padding: 2rem 0rem 1rem 2.3rem;
        text-align: left;
        /* margin: auto; */
        /* border: 1px solid violet; */
    }
    
    .productMisc-label p{
        width: 200px;
        font: 500 15px 'Roboto';
    }

  }

/* iPhone 5 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 5 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
    .productDetail{
        display: block;
        height: fit-content;
    }

    .productDetail-text{
        margin-top: 2rem;
        flex-basis: 100%;
        padding: 2rem 0.3rem;
        /* border: 1px solid black; */
    }
    
    .productDetail
    .ui.image{
        margin-left: 0.9rem;
        height: 330px;
        width: 100%;
    }
    
    .productDetail-container{
        margin: 1.5rem 0;
        margin-right: 0rem;
        padding: 0 0.3rem;
        border: 1px solid black;
        width: 100%;
        text-align: center;

    }
    
    .productName{
        font: 600 40px 'Roboto';
        text-align: center;
        letter-spacing: 3px;
    }
    
    .addToCart .ui.button{
        font: 600 16px 'Roboto';
    }
    
    .misc-header{
        padding: 0 0rem;
        padding-top: 2.8rem;
        text-align: center;
    }
    
    .productMisc{
        padding: 2rem 0rem 1rem 1rem;
        text-align: left;
        /* margin: auto; */
        /* border: 1px solid violet; */
    }
    
    .productMisc-label p{
        width: 190px;
        font: 500 15px 'Roboto';
    }


}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */    
    .productDetail-text{
        margin-top: 2rem;
        flex-basis: 48%;
        padding: 2rem 0;
    }
    
    .productDetail
    .ui.image{
        margin-left: 1rem;
        height: 400px;
        width: 95%;
    }
    
    .productDetail-container{
        margin: 4rem 0;
        margin-right: 1rem;
        padding: 0 0;

    }
    
    .productName{
        font: 600 36px 'Roboto';
    }
    
    .addToCart .ui.button{
        font: 600 16px 'Roboto';
    }
    
    .misc-header{
        padding: 0 0rem;
        padding-top: 2.8rem;
    }
    
    .productMisc{
        padding: 2rem 0rem 1rem 0rem;
    }
    
    .productMisc-label p{
        width: 220px;
        font: 500 15px 'Roboto';
    }
    
}