.EOSAccountContent {
    padding: 5rem;
    background-color: #f6fdfa;
    height: fit-content;
}

.EOSAccountContent .heading {
    font-size: 55px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #052350;
    margin-left: 2rem;
}

.EOSAccountContent .sub-heading {
    font-size: 16px;
    line-height: 1.6em;
    padding-top: .5rem;
    text-align: center;
    font-weight: 800;
    color: #052350;
}

.EOSUserName {
    padding: 2rem 0;
}

.EOSPassword {
    padding-top: .7rem;
}

.EOSUserName label,
.EOSPassword label {
    font-family: 'Roboto';
    color: #052350;
}

.EOSUserName span {
    padding-left: 1rem;
    color: #ee6e6c;
}

.EOSUserName input,
.EOSPassword input {
    padding: .7rem 1rem;
    width: 95%;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #bdc1c0;
    font-family: 'Nunito';
}

.EOSUserName input:focus,
.EOSPassword input:focus {
    border: 1px solid #052350;
}

.EOSAccountBtn {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

.EOSAccount-cta {
    padding: 14px 40px;
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    border: 1.3px solid #052350;
    cursor: pointer;
    color: #052350;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    outline: none;

}

.EOSAccount-cta:hover {
    box-shadow: 0 2px 8px rgba(47, 72, 88, .30), 0 3px 3px rgba(47, 72, 88, .22);
}

/*Media Queries*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    /* Styles */
    .EOSAccountContent {
        padding: 1rem;
        height: 115vh;
    }

    .EOSAccountContent .heading {
        font-size: 31px;
        margin-left: 0rem;
    }

    .EOSAccountContent .sub-heading {
        font-size: 14.6px;
        padding: .5rem .7rem 0 .7rem;
    }

    .EOSAccountContent .form-container {
        margin: 0;
        margin-left: 1.6rem !important;
        width: 92%;
    }

    .EOSUserName label,
    .EOSPassword label {
        font-size: 15px;
    }

    .EOSUserName span {
        font-size: 15px;
    }

    .EOSUserName input,
    .EOSPassword input {
        font-size: 15px;
        color: #052350;
        font-weight: 600;
    }

    .EOSAccount-cta {
        font-size: 15px;
    }

}

/* iPhone 5 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 5 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {

    /* Styles */
    .EOSAccountContent {
        padding: 1rem;
        height: 140vh;
    }

    .EOSAccountContent .heading {
        font-size: 24px;
        margin-left: 0rem;
    }

    .EOSAccountContent .sub-heading {
        font-size: 12px;
        padding: .5rem 0 0 0;
    }

    .EOSAccountContent .form-container {
        margin: 0;
        margin-left: 3.3rem;
        width: 92%;
    }

    .EOSUserName label,
    .EOSPassword label {
        font-size: 14px;
    }

    .EOSUserName span {
        font-size: 14px;
    }

    .EOSUserName input,
    .EOSPassword input {
        font-size: 14px;
        color: #052350;
        font-weight: 600;
    }

    .EOSAccount-cta {
        font-size: 13px;
    }

}

/* iPhone 6 (landscape) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6 (portrait) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6+ (landscape) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPhone 6+ (portrait) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S3 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* Samsung Galaxy S3 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

    /* Styles */
    .EOSAccountContent {
        padding: 4rem 1.5rem;
    }

    .EOSAccountContent .heading {
        font-size: 44px;
        margin-left: 0rem;
    }

    .EOSAccountContent .sub-heading {
        font-size: 17px;
        padding: .5rem .7rem 0 .7rem;
    }

    .EOSAccountContent .form-container {
        margin: 0;
        margin-left: 3.3rem;
        width: 92%;
    }

    .EOSUserName label,
    .EOSPassword label {
        font-size: 16px;
    }

    .EOSUserName span {
        font-size: 16px;
    }

    .EOSUserName input,
    .EOSPassword input {
        font-size: 16px;
        color: #052350;
        font-weight: 600;
    }

    .EOSAccount-cta {
        font-size: 15px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */

    .EOSAccountContent {
        padding: 4rem 1.5rem;
    }

    .EOSAccountContent .heading {
        font-size: 44px;
        margin-left: 0rem;
    }

    .EOSAccountContent .sub-heading {
        font-size: 17px;
        padding: .5rem .7rem 0 .7rem;
    }

    .EOSAccountContent .form-container {
        margin: 0;
        margin-left: 3.3rem;
        width: 92%;
    }

    .EOSUserName label,
    .EOSPassword label {
        font-size: 16px;
    }

    .EOSUserName span {
        font-size: 16px;
    }

    .EOSUserName input,
    .EOSPassword input {
        font-size: 16px;
        color: #052350;
        font-weight: 600;
    }

    .EOSAccount-cta {
        font-size: 15px;
    }
}