.EOSAccountModal{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 85%;
    background-color: #f6fdfa !important;
}

.EOSAccountContent .form-container{
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 1.5rem;
    width: 95%;
}   

.EOSAccountContent .form-container .heading{
    font-size: 37px;
    font-family: 'Roboto' !important;
    font-weight: 700 !important;
    color: #052350 !important;
}

.EOSAccountContent .form-container .sub-heading{
    font-size: 16px;
    line-height: 1.6em;
    padding: 1.3rem 1rem;
    text-align: center;
    font-weight: 800;
    color: #052350;
}

.EOSAccountBtn{
    margin-top: 1.7rem;
    display: flex;
    justify-content: center;
}

.EOSAccount-cta{
    padding: 14px 40px;
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    border: 1.3px solid #052350 !important;
    cursor: pointer;
    color: #052350 !important;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    outline: none;

}

.EOSAccount-cta:hover{
    box-shadow: 0 2px 8px rgba(47, 72, 88, .30), 0 3px 3px rgba(47, 72, 88, .22);
}