.heading{
    font-size: 28px;
}

.sub-heading{
    width: 85%;
    line-height:1.6em;
    padding-top: .3rem;
}

.userName{
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
}

.firstName, .lastName{
    width: 100%;
}

.userEmail, .userMobile, .userAdhaar{
    padding: 1rem 0;
}

.firstName input, .lastName input{
    padding: .7rem 1rem;
    width: 90%;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: 1.5px solid #2F4858;
    /* border: 3px solid #e8f4ef; */
    /* border: 3px solid #00c57b; */
}

.userEmail input, .userMobile input, .userAdhaar input{
    padding: .7rem 1rem;
    width: 95%;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: 1.5px solid #2F4858;
    /* border: 3px solid #e8f4ef; */
    /* border: 3px solid #00c57b; */
}

.continue{
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
}

.continue .continue-cta{
    padding: 14px 40px;
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    border: 1.3px solid #2F4858 ;
    cursor: pointer;
    color: #2F4858;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    outline: none;
    margin-right: 2rem;

}

.continue-cta:hover{
    box-shadow: 0 5px 8px rgba(47, 72, 88, .30), 0 3px 3px rgba(47, 72, 88, .22);
}

