.features{
    text-align: center;
    margin-top: 7rem;
}

.features h1{
    color: #052350;
    font-family: 'Roboto';
    font-size: 57px;
    letter-spacing: 2px;
    font-weight: 500;
    border-bottom: 2px solid #ee6e6c;
    width: fit-content;
    margin: 5rem auto;
    padding: 0 1.2rem;
}

.features-grid-top,.features-grid-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10.2rem;
}

.features-grid-bottom {
    margin: 5rem 0;
}

.features-card{
    background: white;
    padding: 2rem;
    box-sizing: border-box;
    border: 1px solid #f6fdfa;
    height: 370px;
    width: 350px;
}

.features-card img{
    margin-top: 2rem;
}

.features-card h3{
    margin-top: 1.5rem;
    font-size: 19px;
    color: #052350;
    font-family: 'Roboto';
    font-weight: 700;
}

.features-text{
    font-family: 'Nunito';
    margin-top: 1.5rem;
    font-size: 14px;
    font-weight: 600;
    color: #052350;
    text-align: center;
    line-height: 1.5rem;
}