.producerCard-container{
    position: relative;
    padding: 2.5rem 3.3rem ;
    transition: all 0.25s ease-in-out;
    margin-top: 2rem;
    border: 1px solid #bdc1c0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

.producerCard-container:hover{
    background: #f6fdfa !important;
    box-shadow: 0 2px 8px rgba(5, 35, 80, .12), 0 3px 3px rgba(5, 35, 80, .16) !important;
}

.producerCard-container:focus{
    background: #bdc1c0 !important;
    box-shadow: 0 2px 8px rgba(5, 35, 80, .12), 0 3px 3px rgba(5, 35, 80, .16) !important;
}

.producerCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.producerCard-container .cropStatus {
    position: absolute;
    background: #ee6e6c;
    color: white;
    padding: 0.1rem .5rem 0 .5rem;
    border-radius: 4px;
    font-weight: 500;
    top: 0px;
    left: -16px;
    font-family: 'Roboto';
    font-size: 13px;
    transform: rotate(-22deg);
}

.producerCard h4.col {
    color: #052350;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
}
.producerCard h4{
    text-align: center;
    color: #052350;
    font-family: 'Nunito';
}

.radio{
    padding: 0;
    margin: 0 -5rem 0 -4rem;
}
