.producerCard-container{
    position: relative;
    padding: 2.5rem ;
    transition: all 0.25s ease-in-out;
    margin-top: 2rem;
    border: 1px solid #E0E0E0;
    cursor: pointer;
}

.producerCard-container:hover{
    background: #F0F4C3;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.producerCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
.producerCard-container .cropStatus {
    position: absolute;
    background: #FF5722;
    color: white;
    padding: 0 0.5rem;
    border-radius: 4px;
    font-weight: 700;
    top: 8px;
    left: 10px;
}

.producerCard h4.col {
    color: black;
}
.producerCard h4{
    text-align: center;
    color: #356A74;
}

.radio{
    padding: 0;
    margin: 0 -5rem 0 -4rem;
}
