.landRegContainer{
    padding: 5rem;
    background-color: #f6fdfa;
}

.addressHead{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 600;
    color: #052350;
    padding-top: 1rem
}

.landReg .heading{
    font-size: 52px;
}

.landReg .sub-heading{
    width: 55%;
    line-height: 1.6em;
    padding-top: .8rem;
    font-weight: 600;
}

.landRegNo{
    padding-top: 1rem;
}

.address-container{
    display: flex;
    justify-content: space-between;
}

.address{
    width: 100%;
}

.country, .state{
    margin: 1rem 0 2.3rem 0;
}

.landRegNo label, .country label, .city label, .state label, .pin label{
    font-family: 'Roboto';
    color: #052350;
}

.country input, .state input, .city input, .pin input{
    padding: .7rem 1rem;
    width: 90%;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #bdc1c0;
    font-family: 'Nunito';
    color: #052350;
}

.landRegNo input{
    padding: .7rem 1rem;
    width: 95%;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #bdc1c0;
    font-family: 'Nunito';
    color: #052350;
}

.country input:focus, .state input:focus, .city input:focus, .pin input:focus, .landRegNo input:focus{
    border: 1px solid #052350;
}

.ctaBtnGroup{
    margin-top: 3.7rem;
    display: flex;
    justify-content: flex-end;
}

.ctaBtnGroup .continue-cta{
    padding: 14px 40px;
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    border: 1.3px solid #052350 ;
    cursor: pointer;
    color: #052350;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    outline: none;
    margin-right: 2rem;
    font-family: 'Roboto';
}

.ctaBtnGroup .back-cta{
    padding: 14px 40px;
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    border: 1.3px solid #fff ;
    cursor: pointer;
    color: #052350;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    outline: none;
    margin-right: 2rem;
    font-family: 'Roboto';
}

.back-cta:hover{
    box-shadow: 0 5px 8px rgba(47, 72, 88, .30), 0 3px 3px rgba(47, 72, 88, .22);
}

