.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top:3rem;
}

.logo{
    cursor: pointer;
    font-size: 50px;
    color: #f4f4f4;
    font-family: 'Great Vibes';
}

.logo:hover{
    color: #fae69e;
}

.nav_text:hover{
    background: #f4f4f4;
    color: #75AE8D;
    font-size: 14px;
    padding: .5rem;
    border-radius: 8px;
}

.nav_links-container{
    list-style: none;
}

.nav_links, .nav_text, .cta{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #f4f4f4;
    text-decoration: none;
}

.nav_links{
    display: inline-block;
    padding: 0 20px;
}

.nav_text, .logo{
    transition: all 0.3s ease-in-out 0s;
}

.cta{
    padding: 13px 45px;
    background: #75AE8D;
    border: 1.3px solid #f4f4f4 ;
    cursor: pointer;
    color: #f4f4f4;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    outline: none;
}

.cta:hover{
    box-shadow: 1px 1px 8px 1px #fae69e;
    background: #f4f4f4;
    color: #75AE8D;
}
